.bg-primary {
  background-color: var(--primary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.bg-primary-light {
  background-color: var(--primary-light-color);
}


/* Header

Hero

About me */


#about h6 {
  font-size: 19px;
  color: #282830;
  letter-spacing: 1.8px;
  margin-top: 50px;
  margin-bottom: 20px;
}

#about p {
  font-size: 16px;
  font-family: 'roboto';
  color: #777777;
  line-height: 2;
  margin-bottom: 20px;
}

#about ul {
  padding: 0;
}

#about li {
  color: #282830;
  font-size: .9rem;
  font-weight: 600;
  font-family: 'roboto';
  margin-top: 20px;
  margin-bottom: 20px;
  list-style-type: none;
}

#about span {
  color: var(--secondary-color);
  padding: 0.5rem;
  font-family: 'roboto';
}

#about .photoborder {
  padding: 0;
  position: relative;
  height: auto;
  max-width: 100%;
  border-radius: 5px;
  border: 10px solid;
  border-color: var(--primary-color);
  display: inline-block;
}

#about h4 {
  font-size: 32px;
  line-height: 50px;
  margin-bottom: 30px;
  position: relative;
  margin-left: -8px;
  text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.1);
}

#about h4 :before {
  display: inline-block;
  content: '';
  width: 70px;
  height: 1px;
  background-color: var(--secondary-color);
  position: absolute;
  margin-left: 10px;
  bottom: -6px;
  left: 0;
}

#about h4 :after {
  display: inline-block;
  content: '';
  width: 170px;
  height: 1px;
  background-color: var(--primary-color);
  position: absolute;
  margin-left: 10px;
  bottom: -7px;
  left: 0;
}

/* 
My skills (progress-bar)

My resume

Achievements */

.counter {
  background: linear-gradient( rgba(255, 255, 255, 0.2),
   rgba(0, 0, 0, 1) ),
   url('../img/client.jpg');  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

  


/*
My services

My portfolio (gallery)

Testimonials

Latest blog

Get  in touch (message form, contact info)

Footer
*/

