 .gallery {
    display: inline-block;
    width: calc(100% + 30px);
    margin-left: -15px;
 }
    .gallery > .gallery-filter {
        display: inline-block;
        width: 100%;
        padding: 15px;
    }
    .gallery > .gallery-list {
        display: inline-block;
        width: 100%;
    }
        .gallery > .gallery-list > .gallery-item {
            display: inline-block;
            width: calc(100% / 3 - 30px);
            margin: 15px;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 4px 8px #0005;
            position: relative;
        }
            .gallery-item > img {
                display: inline-block;
                width: 100%;
                height: 270px;
                object-fit: cover;

            }
            .gallery-item > .texts {
                display: none;
                text-align: center;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: #f008;

                
            }
                .texts > .title {
                    display: inline-block;
                    width: 100%;
                }
                .texts > .categories {
                    display: inline-block;
                    width: 100%;
                }
                    .categories > .cat{
                        display: inline-block;
                        padding: 5px 10px;
                        margin-left: 5px;
                        font-size: 12px;
                        line-height: 15px;
                        background-color: #ccc;
                    }
            :hover .texts {
                display: inline-block;
            }