/* title one more time */

.resume h4 {
    font-size: 32px;
    line-height: 50px;
    margin-bottom: 50px;
    position: relative;
    font-weight: 500;
    margin-left: -8px;
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.1);
  }
  .resume h4 :before {
    display: inline-block;
    content: '';
    width: 70px;
    height: 1px;
    background-color: var(--secondary-color);
    position: absolute;
    margin-left: 40px;
    bottom: -6px;
    left: 0;
  }
  
  .resume h4 :after {
    display: inline-block;
    content: '';
    width: 170px;
    height: 1px;
    background-color: var(--primary-color);
    position: absolute;
    margin-left: 40px;
    bottom: -7px;
    left: 0;
  }

  .resume h4 > span {
    color: var(--secondary-color);
    padding: 0.5rem;
    
  }

/* content resume*/

.resume-content {
    position: relative;
    padding: 25px 20px;
  }
.resume-content .icon {
    background-color: #2e353e;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 9px;
    text-align: center;
  }
.resume-content .icon i {
    font-size: 1rem;
    color: #fff;
    margin-top: 12px;
    
  }
.resume-content ul {
    padding: 0;
    margin-top: -25px;
  }
.resume-content ul li {
    position: relative;
    padding: 30px 30px 10px;
    margin-bottom: 15px;
    list-style-type: none;
  }
.resume-content ul li::after {
    position: absolute;
    content: "";
    top: 30px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid #d6b161;
    background-color: #2e353e;
  }
.resume-content ul li span {
    font-size: 12px;
    font-weight: 500;
    font-family: 'roboto';
  }
.resume-content ul li h5 {
    color: #9c27b0;
    font-size: 14px;
    font-weight: 500;
    margin-top: 15px;
    font-family: 'Montserrat';
    text-transform: uppercase;
  }
.resume-content ul li h6 {
    color: #4b4b4b;
    font-size: 12px;
    
    font-weight: 500;
    font-family: 'Montserrat';
    margin: 10px 0 10px;
  }
.resume-content .right {
    border-left: 1px solid #f4f4f4;
  }
.resume-content .right li::after {
    left: -6px;
  }
.resume-content .left {
    border-right: 1px solid #f4f4f4;
  }
.resume-content .left li {
    position: relative;
  }
.resume-content .left li::after {
    right: -6px !important;
  }
.right-1 .icon {
    left: 0;
  }
.left-1 .icon {
    right: 0;
  }

  
@media (max-width: 900px) {
       .left-1 .icon { 
            left: 0;
      }
      .resume-content .left {
            border-left: 1px solid #f4f4f4;
            border-right: 0;
      }
      .resume-content .left li::after {
            left: -6px !important;
      }
        .resolution {
            text-align: left; 
      }
        .zeronarrow {
          visibility: hidden;
              height: 0;
        }
          
    }   
    

@media (min-width: 901px) { .resolution {
            text-align: right;  
    }
    .zerowide {
     visibility: hidden;;
      height: 0;
  }
} 