.testimonials {
    display: inline-block;
    width: 70%;
    margin: 50px ;
    background-color: #0007;
    text-align: center;
    overflow: hidden;
}
    
    .testimonials .list {
        display: inline-block;
        width: 100%;
        transition: all 1s;
    }  
        .testimonials .list.no-animation {
          transition: unset;
        }
    
    .testimonials .controls {
        display: inline-block;
        width: 100%;
        margin-top: 40px;
    }
    
        .testimonials .controls .fa {
            font-size: 20px;
            line-height: 20px;
            padding: 10px 10px;
            cursor: pointer;
            color: var(--primary-light-color);
        }
    
        .testimonials .controls .line {
            display: inline-block;
            width: 120px;
            height: 2px;
            margin: 19px 10px;
            background-color: var(--primary-light-color);
        }
    
            .testimonials .controls .line .bar {
                display: inline-block;
                width: calc(100% / 3);
                height: 100%;
                float: left;
                background-color: var(--secondary-color);
            }


    .testimonials .testimonial {
        display: inline-block;
        width: 50%;
        float: left;
    }

    .testimonials .testimonial > * {
        display: inline-block;
        width: 100%;
      }

    .testimonials .testimonial .quote {
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 18px;
        text-transform: uppercase;
        color: var(--secondary-color);
    }

    .testimonials .testimonial .stars {

    }

        .testimonials .testimonial .stars i {
            margin: 0 2px;
            font-size: 20px;
            line-height: 20px;
            color: #FFD600;
        }

    .testimonials .testimonial .text {
        padding: 20px;
        font-size: 14px;
        line-height: 18px;
        color: var(--primary-light-color);
    }

    .testimonials .testimonial .author {
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        color: var(--primary-light-color);
    }

    .testimonials .testimonial .profession {
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        color: var(--primary-light-color);
        margin-bottom: ;
    }

    